PORT=5000
MONGODB_URI=mongodb://praneshec23_db_user:12345@ac-qu48zmv-shard-00-00.oiwuq89.mongodb.net:27017,ac-qu48zmv-shard-00-01.oiwuq89.mongodb.net:27017,ac-qu48zmv-shard-00-02.oiwuq89.mongodb.net:27017/ISPS_NewProject?ssl=true&replicaSet=atlas-l6g94q-shard-0&authSource=admin&retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=isps_super_secret_jwt_key_2024
